/* Header */



#header {
    margin-top: 0em;
    color: white;
     font-size:20px;
   background: #001C36;
       margin-left:-40px;
       margin-right: -40px
}

#leftPanelButton .toggle {
    text-align: left;
    padding-left: 20px;
    height: 100px;
     background: url('images/menu.png') no-repeat;
   background-position: 20px;
  
}

#rightPanelButton .toggle {
   
    height: 100px;
  
}

.icon-myshare{
   
    background-position: 10px !important;

}

.icon-mysearch{
    
    background-position: 10px !important;
}


#share a {
    margin: 2em;
    padding: 2em;
    background: #001C36;
    background-position: center;
    width: 30px;
    height: 30px;
}

/* Title */

#title {
   padding-left: 150px;
    padding-top: 30px;
    margin: 0 0 1.5em 0;
    height: 100px;

}

/* Nav */

#nav {
    position: relative;
    text-align: left;
}

#nav a {
    margin: 0 1em 0 1em;
}

/**********************************************************/
/*Estilo para las listas                                  */
/**********************************************************/

/*Listas en sectores y subsectores*/
/*Este es el UL*/
.listviewSector{

    font-size:17px;

}

.listviewSector li a{
  
    padding: 25px;
}

.loadingPag{
   
    top:200px;
    left: 350px;
}

.tab-links a {
    padding:6px 100px;
    font-size:17px;
    width: 100%
    
}

#results{

    
    font-size: 15px;
}

#results thead{
  

    font-size: 17px;

}



#divFuente{
    font-size: 13px;
    
    line-height:20px;
}

#container{
    height: 500px !important;
}

.tab-links a {
    padding:6px 80px;
    
}

#miMapa{
   width: 50%; 
   height:350px; 
}